.terms-window {
  *,
  * * {
    margin: 0;
    padding: 0;
  }
  border: 1px solid black;
  .terms-content {
    width: min(300px, 100%);
    min-height: 100px;
    position: relative;
    textarea {
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .terms-content-typing {
      z-index: 2;
      background: transparent;
    }
    .terms-content-message {
      color: var(--clr-neutral-500);
      /* z-index: -1; */
      /* background-color: white; */
      /* color: black; */
    }
  }
}
